menu "HTTP audio player"

config AUDIO_WIFI_SSID
    string "Wi-Fi SSID"
    default ""

config AUDIO_WIFI_PASSWORD
    string "Wi-Fi password"
    default ""

config AUDIO_STREAM_URL
    string "HTTP PCM stream URL"
    default "http://192.168.1.100:8000/audio/stream"

config AUDIO_SAMPLE_RATE
    int "PCM sample rate (Hz)"
    range 8000 48000
    default 16000

config AUDIO_VOLUME_PERCENT
    int "Output volume (%)"
    range 1 100
    default 55

config AUDIO_BUFFER_MS
    int "Audio buffer capacity (ms)"
    range 250 5000
    default 2000

config AUDIO_PREBUFFER_MS
    int "Prebuffer before playback (ms)"
    range 50 2000
    default 250

endmenu
